<img src="http://www.digitalvidya.com/wp-content/uploads/2013/05/logoa5-300x95.png">

## Data Analysis using Python Assignment
### Digital Vidya Copyright

Load the ipl dataset deliveries.csv into a pandas dataframe and answer the quesions based on this dataset.

In [76]:
import pandas as pd

deliveries = pd.read_csv('ipl/deliveries.csv')
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SC Ganguly,BB McCullum,P Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
1,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
3,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [64]:
#1. How many total extra runs have been given in the ipl matches?

In [65]:
#2. Which bowler bowled maximum number of overs? How many overs?

In [66]:
#3. Who is the highest run scorer in this dataset? How many runs?

In [67]:
#4. Return a dataframe with total runs scored by each team per match. 
# The resulting dataframe should have 1152 rows and 4 columns and look like the df given below.
d = {'batting_team': {0: 'Kolkata Knight Riders',
  1: 'Royal Challengers Bangalore',
  2: 'Chennai Super Kings',
  3: 'Kings XI Punjab',
  4: 'Delhi Daredevils'},
 'bowling_team': {0: 'Royal Challengers Bangalore',
  1: 'Kolkata Knight Riders',
  2: 'Kings XI Punjab',
  3: 'Chennai Super Kings',
  4: 'Rajasthan Royals'},
 'match_id': {0: 1, 1: 1, 2: 2, 3: 2, 4: 3},
 'total_runs': {0: 222, 1: 82, 2: 240, 3: 207, 4: 132}}
df = pd.DataFrame(d)

In [70]:
#5. Return a dataframe with the bowling details for bowlers for each match. The resulting df will have 6866 rows 
# and 6 columns and should look like the df given below.

d1 = {'batting_team': {0: 'Kolkata Knight Riders',
  1: 'Kolkata Knight Riders',
  2: 'Kolkata Knight Riders',
  3: 'Kolkata Knight Riders',
  4: 'Kolkata Knight Riders',
  5: 'Kolkata Knight Riders',
  6: 'Royal Challengers Bangalore',
  7: 'Royal Challengers Bangalore',
  8: 'Royal Challengers Bangalore',
  9: 'Royal Challengers Bangalore'},
 'bowler': {0: 'AA Noffke',
  1: 'CL White',
  2: 'JH Kallis',
  3: 'P Kumar',
  4: 'SB Joshi',
  5: 'Z Khan',
  6: 'AB Agarkar',
  7: 'AB Dinda',
  8: 'I Sharma',
  9: 'LR Shukla'},
 'bowling_team': {0: 'Royal Challengers Bangalore',
  1: 'Royal Challengers Bangalore',
  2: 'Royal Challengers Bangalore',
  3: 'Royal Challengers Bangalore',
  4: 'Royal Challengers Bangalore',
  5: 'Royal Challengers Bangalore',
  6: 'Kolkata Knight Riders',
  7: 'Kolkata Knight Riders',
  8: 'Kolkata Knight Riders',
  9: 'Kolkata Knight Riders'},
 'extra_runs': {0: 6, 1: 2, 2: 5, 3: 4, 4: 0, 5: 0, 6: 4, 7: 2, 8: 7, 9: 3},
 'match_id': {0: 1, 1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1},
 'total_runs': {0: 41,
  1: 24,
  2: 52,
  3: 41,
  4: 26,
  5: 38,
  6: 25,
  7: 9,
  8: 13,
  9: 12}}
df = pd.DataFrame(d1)

In [71]:
#6. What is the highest and the lowest total score made, give the name of the batting team and runs scored in each case

In [72]:
#7. What is the most common way the players got out in the IPL? How many?

In [74]:
#8. Who is the highest wicket-taker for CSK? How many wickets?

In [ ]:
#9. Add a column called 'Howzthat' that has shows 'Yay' if the corresponding player_dismissed column has non NaN value
# and 'Nay' if player_dismissed is NaN. Hint: lookat np.where()

In [ ]:
#10. Add a column 'run_run' which checks total_runs column and say 
#'Duck' if total_runs is 0, 
#'come_on' if total_runs is 1 or 2,
# 'cool' if total_runs is 3,
# 'hit!' if total_runs is 4 or 6. 
# Hint: you can write a function using nested if-else and apply that function to df.total_runs