Author: Shruti Gupta

Date: 2nd March 2019

File Name: ShrutiGupta-Assignment 1-Session 1_Introduction to Data Analytics

**Q1 What is the type of x?**
<br> Execute the code by pressing "Shift Enter"
<br> And you will see that the function returns one of the basic data types (int, float, str)

In [1]:
#Q1

x = 10
type(x)

int

**Q2 What is the type of y?**

In [2]:
#q2
y = 4.9
type(y)

float

**Q3 Type cast x to float**

Type casting is useful for improving precision. Precision is very important for data analysis

In [3]:
#q3

float(x)

10.0

**Q4  Add a and b and display the result**
<br>
&ensp;&ensp;Whenever you need to display the result you need to use **print** function.

In [5]:
a = 5
b = 10

In [6]:
#q4

print(a+b)

15

**Q5 Subtract a from b and display the result**

In [7]:
#q5

print(b-a)

5

**Q6 Multiply a and b and display the result**

In [8]:
#q6

print(a*b)

50

**Q7 Divide a by b and display the result**

In [9]:
#q7

print(a/b)

0.5

**Q8 Find the remainder obtained when a is divided by b and display the result**

In [10]:
#q8

print(a%b)

5

**Q9 Find the result obtained when a is raised to b and display the result**

In [11]:
#q9

print(a**b)

9765625

**Q10 Find the quotient obtained when a is divided by b and display the result**

In [12]:
a = 20
b = 6

In [13]:
#q10

a/b

3.3333333333333335

In [14]:
import math

**Q11 Use appropriate function and find 3\*\*2 **

In [15]:
#q11

math.pow(3,2)

9.0

**Q12 Use appropriate function and find square root of 64**

In [16]:
#q12

math.sqrt(64)

8.0

In [28]:
a = 20
b = 6

**Q13 Check whether a equal to b and display the result**

In [29]:
#q13

print(a==b)

False

**Q14 Can you tell what is the data type of your output?**

In [19]:
#q14

type(a==b)

bool

**Q15 Try a = b also and see the result**

In [25]:
#q15
a=b
print(a)

6

**Q16 Check whether a equal to b using not equal (!=) operator and display the result**

In [26]:
#q16

print(a!=b)

False

**Q17 Check whether a is greater than b and display the result**

In [30]:
#q17

print(a>b)

True

**Q18 Check whether a is less than b and display the result**

In [31]:
#q18

print(a<b)

False

**Q19 Check whether a is greater than or equal to b and display the result**

In [33]:
#q19

print(a>=b)

True

**Q20 Check whether a is less than or equal to b and display the result**

In [35]:
#q20

print(a<=b)

False

**Q21 Assign 5 to variable a**
<br> **Print a**

In [36]:
#q21

a=5
a

5

**Q22 Add 5 to variable 'a' and assign the value to 'a' (Hint: use '+=')**
<br> **Print a**

In [37]:
#q22

a+=5
a

10

**Q23 Subtract 5 from variable 'a' and assign the value to 'a' (Hint: use '-=')**
<br> **Print a**

In [38]:
#q23

a-=5
a

5

**Q24 Multiply 5 to variable 'a' and assign the value to 'a' (Hint: use '*=')**
<br> **Print a**

In [39]:
#q24

a*=5
a

25

**Q25 Divide variable 'a' by 5 and assign the value to 'a' (Hint: use '/=')**
<br> **Print a**

In [40]:
#q25

a/=5
a

5.0

**Q26 Divide variable 'a' by 5  and assign the remainder value to 'a' (Hint: use '%=')**
<br> **Print a**

In [41]:
#q26

a%=5
a

0.0

**Given that avalue is assigned to 5 below**

In [42]:
a = 5

**Q27 Raise 'a' by 2 and assign the result to 'a' (Hint: use '**=')**
<br> **Print a**

In [43]:
#q27

a**=2
a

25

**Q28 Use floor division to divide 'a' by 2 and assign the result to 'a' (Hint: use '//=')**

In [46]:
#q28

a//=2
a

1

In [47]:
a = 5
b = 25

***Q29 Try 'and' operator for finding whether a and b both are divisible by 5. (Hint use '%') ***

<br> TIP: 
<br> First write the code to check a is divisible by 5 
<br> (a % 5) == 0
<br> Now write the code to check b is divisible by 5
<br> (b % 5) == 0
<br> Now connect the two conditions by AND operator
<br> You will have to use brackets to make this into a single statement
<br> e.g. (a % 5) == 0 and (b % 5) == 0
<br> and now when you print the result, you need to add additional braces

<br>**Remember**
<br>"AND" operator will return True only when all the conditions are True

In [50]:
#q29

print((a%5)==0 and (b%5)==0)

True

In [51]:
a = 26
b = 25

***Q30 Try 'or' operator for finding whether either a or b is divisible by 5. (Hint use '%') ***
<br> TIP
<br>Follow similar procedure that you have followed in the previous question and in the end use 'or' operator instead of 'and'.

<br>**Remember**
<br>"OR" operator will return False only when all the conditions are False

In [52]:
#q29

print((a%5)==0 or (b%5)==0)

True

In [53]:
a = 26

***Q31 Try 'not' operator to check whether a is not equal to 26. (Hint use 'not' and '==') ***

eg. To check whether a is not equal to 35 ->
<br> I have to check whether a is equal to 35 and then calculate 'not' of the result.

In [58]:
#q31

#print(a == 26)
not(a,26)

True

False